@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #474b57;
  color: white;
  font-family: "Poppins", sans-serif;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  background-color: #1d1f1d;
  height: 50px;
  display: flex;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#brand a {
  color: #09c372;
}

#goto {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

#goto a {
  color: white;
}

#goto li {
  padding: 5px;
  margin-left: 10px;

}

#goto li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: 400%;
  width: 100%;
  background-color: black;
  list-style: none;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

#skills {
  padding: 5% 40% 2%;

}

#skills ul li {
  background-color: #3B4291;
  border-radius: 2px;
  width: 100%;
  list-style: none;
  border-width: 50%;
  border: 1px solid blue;

}

.skills-pallet {
  padding: 5% 40% 2%;
}

table,
tr,
th {
  border: 1px solid deepskyblue;
  border-collapse: collapse;
  border-radius: 20%;
  padding: 10%;
}

table {
  width: 300px;

}

td {
  text-align: center;
}

.tbl {
  padding: 30px;
}

#tbl-hd {
  font-style: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: 14px;
}

.w0,
.w1,
.w2 {
  font-style: italic;
  font-family: courier New;
}

#duckX {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 25px 25px;
}

footer {
  text-align: center;
  padding-top: 5%;
  
}

footer a {
  border: 2px solid blue;
  text-decoration: none;
  border-radius:5px;
  color: black;
  background-color: #03A8FF;
}

.c2{
  padding: 20px;
}
#conclusion{
  padding: 20px;
}
.pyskl{
  padding: 25px
}

hr{
  background-color: white;
  height: 5px;
  border-radius:15px;
}
