header{
  width:100%;
  text-align: center;
}
#content{
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  border-radius: 2%;
  text-align: left;
}
footer{
  background-color: #a6a6a6;
  border-width: 50%;
  text-align: center;
}
#skills{
  background: #d9d9d9;
  border-width:10%;
  text-align: left;
}
h1{
  font-family: Times New Roman;
  
}
body{
  background:  #f2f2f2;
  border-radius: 50%; 
}