header {
  text-align: center;
  position: inline;
  padding-block: 5px;
}

body {
  background-color: #000033;
  color: white;
  width: 95%;
  height: 100%;
  border-radius: 5px;
  text-align: left;
  padding: 2%;
  position: block;

}

footer {
  background-color: #a6a6a6;
  border-radius: 20px;
  text-align: center;
  font-family: 'Times New Roman';
  text-decoration: none;

}

footer a {
  text-decoration: none;
}

#skills {
  background: #d9d9d9;
  border-radius: 25px;
  text-align: left;
  box-shadow: 5px 5px 9px 5px;
  padding-left:2%;
}

h3 {
  font-family: Times New Roman;

}

/* body {
  background: #e6e6e6;
} */

#txt1 {
  background:#FF000075 ;
}

#conclusion {
  border-radius: 25px
}

#exp {
  background-color: #FF0ff0;
  border-radius: 5px;
}

.nav-Links li {
  list-style: none;
  display: inline;
  padding: 6px;
  font-size: 16px;
  
}

.nav-Links a {
  text-decoration: none;
  text-align: center;
  border-radius: 2px;

}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #9E9E9E;
  border-radius: 5px;
  box-shadow: 9px 2px 9px 5px;
  width:100%;

}
