#Games2D {
  border-radius: 50px;
  box-shadow: 20px 20px 20px #827d7d;
  background-color: red;
  height: 100%;
  width: 100%;

}

#Games2D:active {
  background-color: skyblue;

}

#Games3D:active {
  background-color: skyblue;

}

#Games3D {
  border-radius: 50px;
  box-shadow: 20px 20px 20px #827d7d;
  background-color: blue;
  height: 100%;
  width: 100%;

}

#CLI:active {
  background-color: skyblue;
  
}

#CLI {
  border-radius: 50px;
  box-shadow: 20px 20px 20px #827d7d;
  background-color: white;
  height: 100%;
  width: 100%;

}