footer {
    text-align: center;
    padding-top: 5%;

}

footer>ul>li {
    border: 2px solid blue;
    text-decoration: none;
    list-style-type: none;
    float: left;
    text-align: center;
    border: none;
    width: 30%;
}

footer {
    padding: 15px;
}

footer li a {
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer a:visited {
    color: blue;
}